<?xml version="1.0"?>
<!--
  Konfiguracja serwera dla IIS Express (uruchamianie z Visual Studio 2022, F5).
  Ustawia index.html jako stronę startową. Plik jest ignorowany przez
  GitHub Pages, więc nie wpływa na publikację online.
-->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <staticContent>
      <!-- Pewny typ MIME dla ikon SVG -->
      <remove fileExtension=".svg"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>